name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Cache vcpkg
      uses: actions/cache@v4
      id: vcpkg-cache
      with:
        path: |
          C:\vcpkg\installed
          C:\vcpkg\packages
          C:\vcpkg\archives
        key: ${{ runner.os }}-vcpkg-icu

    - name: Install ICU via vcpkg
      run: C:\vcpkg\vcpkg.exe install icu:x64-windows
      
    - name: Use Local LLVM 22
      run: |
        echo "C:\Program Files\LLVM\bin" >> $env:GITHUB_PATH

    - name: Configure CMake
      run: |
        cmake -S . -B build -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DLLVM_DIR="C:/Program Files/LLVM/lib/cmake/llvm"

    - name: Build Druk
      run: cmake --build build --config Release

    - name: Run C++ Unit Tests
      working-directory: ${{github.workspace}}/build
      run: |
        ctest -C Release --output-on-failure

    - name: Run Python E2E Tests
      run: |
        python tests/e2e/test_runner.py --compiler build/druk.exe
