name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache vcpkg
      uses: actions/cache@v4
      id: vcpkg-cache
      with:
        path: |
          C:\vcpkg\installed
          C:\vcpkg\packages
          C:\vcpkg\archives
        key: ${{ runner.os }}-vcpkg-icu

    - name: Install ICU via vcpkg
      run: vcpkg install icu:x64-windows
      
    - name: Install LLVM 18
      run: |
        Invoke-WebRequest -Uri "https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/LLVM-18.1.8-win64.exe" -OutFile llvm.exe
        Start-Process -Wait -NoNewWindow -FilePath .\llvm.exe -ArgumentList "/S", "/D=C:\LLVM"
        echo "C:\LLVM\bin" >> $env:GITHUB_PATH

    - name: Configure CMake
      run: |
        cmake -S . -B build -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DLLVM_DIR="C:/LLVM/lib/cmake/llvm"

    - name: Build Druk
      run: cmake --build build --config Release

    - name: Run C++ Unit Tests
      working-directory: ${{github.workspace}}/build
      run: |
        ctest -C Release --output-on-failure

    - name: Run Python E2E Tests
      run: |
        python tests/e2e/test_runner.py --compiler build/druk.exe
