name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          token: ${{ secrets.DRUK_RELEASE_TOKEN }}
          release-type: simple
          package-name: druk-lang
          extra-files: |
            CMakeLists.txt
          target-branch: main
